config.defines.dump
control
control.md5sum
files
rules.gen

*.debhelper.log
*.substvars
*.pyc

stamps/
build/
*-di/
linux-doc-*/
linux-headers-*/
linux-image-*
linux-libc-dev/
linux-manual-*/
linux-source-*/
linux-support-*
xen-linux-system-*/
